/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border
:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 * From OpenLayers style.css
 * http://openlayers.org
 */
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 1em 1.5em;
}
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font-family: 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
a[href] {
    color: #436976;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;
}
h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
h5 {
    font-size: 100%;
    font-weight: bold;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}

/**
 * Phoros Specific
 */
button, select {
    cursor: pointer;
}
#logout-button {
    float:right;
}
.h1-right {
    float: right;
}
.vanilla-input {
    font-family: 'andale mono', 'lucida console', monospace;
    padding: 0px;
    margin: 0px;
}
.tight-input {
    padding: 0px;
    margin: 0px;
}
#point-description {
    width: 206px;
    height: 17px;
}
#point-numeric-description {
    width: 120px;
    height: 17px;
    float: right;
}
#point-attribute {
    height: 21px;
}
#finish-point-button {
    width: 145px;
    height: 30px;
}
#delete-point-button {
    width: 60px;
    height: 30px;
}
#aux-point-distance-or-point-creation-date {
    width: 210px;
    height: 23px;
    margin-top: 5px;
}
#aux-point-distance {
    width: 180px;
    float: right;
}
#point-creation-date {
    padding-left: 5px;
}
#aux-data {
    float: left;
    width: 210px;
    overflow: auto;
}
.aux-data-list {
    width: 170px;
    list-style-type: lower-roman;
    line-height: 1;
}
.phoros-controls {
    float: left;
    text-align:left;
    width: 210px;
    height: 320px;
}
.phoros-controls-vertical-strut {
    float: right;
    height: 305px;
    width: 0px;
}
.help-div {
    float: left;
    cursor: default;
    background-image: url(/phoros/lib/public_html/phoros-logo-background.png);
    background-position: 40px 90px;
    background-repeat: no-repeat;
    width: 256px;
    height: 320px;
    margin-left: 1em;
}
.controlled-streetmap {
    float: left;
    margin-left: 1px;
    margin-right: 1em;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #00008B;
}
.streetmap {
    float: left;
    width: 512px;
    height: 320px;
}
.streetmap-controls {
    float: left;
    width: 200px;
    height: 320px;
    line-height: 1;
    background-color: #00008B;
}
.streetmap-zoom {
    height: 18px;
    width: 126px;
    clear: both;
}
.streetmap-layer-switcher {
    /* height: 92px; */
}
.streetmap-layer-switcher span {    /*layer name*/
    cursor: pointer;
    color: white; 
}
.dataLayersDiv {
    cursor: pointer;            /*TODO: doesn't work*/
}
.streetmap-vertical-strut {
    float: right;
    height: 174px;
    width: px;
    background-color: black;
}
.streetmap-mouse-position {
    font-family: 'andale mono', 'lucida console', monospace;
    color: white;
    clear: both;
    float: left;
    height: 18px;
    margin-left: 5px;
}
.streetmap-overview {
    width: 190px;
    height: 110px;
    clear: both;
    float: left;
}
.image-main-controls {
    height: 18px;
    background-color: #00008B;
    clear: right;
}
#remove-work-layers-button {
    color: #00008B;
    cursor: pointer;
    font-size: smaller;
    font-weight: bold;
    background-color: white;
    float: left;
    height: 12px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 5px;
}
#auto-zoom {
    font-size: smaller;
    color: white;
    float: left;
    /* padding-top: 3px; */
    margin-left: 5px;
    margin-right: 10px;
}
#zoom-to-point-p {
    cursor: pointer;
}
#zoom-images-to-max-extent {
    background: url(/phoros/lib/ol/img/zoom-world-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    margin-right: 10px;
}    
.image-controls {
    width: 100%;
    height: 18px;
    background-color: #00008B;
}
.image-zoom {
    height: 18px;
    width: 126px;
    float: left;
}
.image-layer-switcher {
    cursor: pointer;            /*TODO: doesn't work*/
    height: 18px;
    float: left;
}
.image-trigger-time {
    font: smaller 'andale mono', 'lucida console', monospace;
    color: white; 
    float: right;
    height: 18px;
    margin-right: 5px;
    margin-top: 3px;
    float: right;
}
.dataLbl, .baseLbl {            /*of layer-switcher*/
    display: none;
}
.image-layer-switcher span {    /*layer name*/
    display: none; 
}
.image {
    background-image: url(/phoros/lib/public_html/phoros-logo-background.png);
    background-position: center;
    background-repeat: no-repeat;
    /* width and height are read via CSS DOM where we expect them
       to be in px. */
    width: 300px;
    height: 256px;
}
.controlled-image {
    float: left;
    border: 1px solid #00008B;
    margin: 1px;
}
.olControlPanWestItemInactive {
    background: url(/phoros/lib/ol/img/west-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlPanEastItemInactive {
    background: url(/phoros/lib/ol/img/east-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlPanNorthItemInactive {
    background: url(/phoros/lib/ol/img/north-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlPanSouthItemInactive {
    background: url(/phoros/lib/ol/img/south-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlZoomInItemInactive {
    background: url(/phoros/lib/ol/img/zoom-plus-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlZoomOutItemInactive {
    background: url(/phoros/lib/ol/img/zoom-minus-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlZoomToMaxExtentItemInactive {
    background: url(/phoros/lib/ol/img/zoom-world-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olControlScaleLineBottom {     /* Imperial units */
    display: none;
}
.streetmapZoomToMaxExtentItemInactive {
    background: url(/phoros/lib/ol/img/zoom-world-mini.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 18px;
    width: 18px;
}
.olLayerGoogleCopyright {
    display: none;
}