*.fasl
*~
*.log
*.png
*.ini
*.json
*.pid
*.pictures
phoros
fasttrack
*.tar.gz
*.tar
*.html
.phoros
debug-build.lisp
phoros-help.txt
bogus*
OpenLayers-*/
ol/
public_html/
gh-pages/
unexpected_html/
testsuite/
cache/
singlepic
imreadtest
libimread.so
libphoml.so
